body {
    background-color:white;
}

#container {
    margin: auto auto;
    width: 1350px;
}

.title {
    font-size: 150px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
}

.header {
    font-size: 70px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
}


button {
    background-color: #005884;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 100px;
    margin-left: 80px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.text-center {
    text-align: center;
    font-family: Verdana, sans-serif;
}

#form {
    background-color:#94E0FF;
    width: 300px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}

#quiz {
    background-color:#DCDEDF;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    margin-top: 150px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin-right: 200px;
}

.leader{
    margin-top: -100px;
}

#delete {
    background-color:#94E0FF;
    width: 300px;
    height: 250px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin: -300px 200px 0px 70px;
}

#delete_quiz {
    background-color:#DCDEDF;
    width: 300px;
    height: 250px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin-right: 100px;
}



#update {
    background-color:#94E0FF;
    width: 300px;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    float:left;
    border-radius: 20px;
    margin: -800px 200px 0px 70px;
}

#update_quiz {
    background-color:#94E0FF;
    width: 300px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    float:left;
    border-radius: 20px;
    margin: 0px 100px 0px 50px;
}


#leaderboard {
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Verdana, sans-serif;
}

#create {
    background-color:#94E0FF;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin: 0px 150px 0px 70px;
}

#create_quiz {
    background-color:#94E0FF;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin: 0px 500px 100px 50px;
}

#container_show {
    background-color:#B6DDFF;
    width: 400px;
    height: 2000px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin: -1220px 50px 0px 500px;
}

#container_show_quiz {
    background-color:#B6DDFF;
    width: 500px;
    height: 2000px;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin: -1150px 50px 0px 500px;
}

#leaderboard_show {
    background-color:#DCF5FF;
    width: 400px;
    height: 1200px;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    margin-left: 470px;
    text-align: center;
}

#label_form {
    margin-bottom: 30px;
}

.profile_container {
    background-color: #B6DDFF;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

.exams_container {
    background-color: #B6DDFF;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

.assignments_container {
    background-color: #B6DDFF;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #update_button{
    margin-top: -100px;
    float:left;
  }