body {
    background-color:white;
}

.title {
    font-size: 150px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
}

.header {
    font-size: 70px;
    text-align: center;
    color: black;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
}


button {
    background-color: #cc6600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 100px;
    margin-left: 80px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.text-center {
    text-align: center;
    font-family: Verdana, sans-serif;
}

#form {
    background-color:#ffb366;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    margin-left: 500px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
}

#quiz {
    background-color:#ffb366;
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin-right: 200px;
}

#delete {
    background-color:#ffb366;
    width: 400px;
    height: 250px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin-right: 200px;
}


#update {
    background-color:#ffb366;
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin-right: 200px;
}

#leaderboard {
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin-right: 200px;
}


#create {
    background-color:#ffb366;
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: right;
    margin-right: 200px;
}


#container_show {
    background-color:#ffb366;
    width: 500px;
    height: 2000px;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    float: left;
    margin-left: 50px;
}

#label_form {
    margin-bottom: 30px;
}

.profile_container {
    background-color: #ffb366;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

.exams_container {
    background-color: #ffb366;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

.assignments_container {
    background-color: #ffb366;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 130px;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }