<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<body>

<ul>
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a href="students.html"> Class Info </a></li>
    <li><a href="create_quiz.html"> Create Quiz </a></li>
</ul>
    

<div class="row">
    <div class="col-12 header">
    </div>
</div>

<form id = "create_quiz">
  <h2> Add Question </h2>
  <label for="question_name">Question:</label><br>
  <input type="text" id="question_name" name="question_name"><br>
  <label for="ans1">Choice A:</label><br>
  <input type="text" id="ans1" name="ans1"><br>
  <label for="ans2">Choice B:</label><br>
  <input type="text" id="ans2" name="ans2"><br>
  <label for="ans3">Choice C:</label><br>
  <input type="text" id="ans3" name="ans3"><br>
  <label for="ans4">Choice D:</label><br>
  <input type="text" id="ans4" name="ans4"><br>
  <label for="answer">Correct Answer:</label><br>
  <input type="text" id="answer" name="answer"><br>

  <div class="row3">
    <div class="buttons">
        <button class = "button" id = "create_question_button" type="create_question_button"> Submit question </button>
    </div>
</div>

</form>

<form id = "update_quiz">
    <h2> Update Question</h2>
  <label for="question_id">Question ID:</label><br>
  <input type="text" id="question_id" name="question_id"><br>
  <label for="question_name">Question:</label><br>
  <input type="text" id="question_name" name="question_name"><br>
  <label for="ans1">Choice A:</label><br>
  <input type="text" id="ans1" name="ans1"><br>
  <label for="ans2">Choice B:</label><br>
  <input type="text" id="ans2" name="ans2"><br>
  <label for="ans3">Choice C:</label><br>
  <input type="text" id="ans3" name="ans3"><br>
  <label for="ans4">Choice D:</label><br>
  <input type="text" id="ans4" name="ans4"><br>
  <label for="answer">Correct Answer:</label><br>
  <input type="text" id="answer" name="answer"><br>

  <div class="row3">
    <div class="buttons">
        <button class = "button" id = "update_question_button" type="update_question_button"> Update </button>
    </div>
</div>
</form>

<form id = "delete_quiz">
    <h2> Delete Question </h2>
    <label for="question_idDelete">Question ID:</label><br>
    <input type="text" id="question_idDelete" name="question_idDelete"><br>
  
    <div class="row3">
      <div class="buttons">
        <button class = "button" id = "delete_question_button" type="delete_question_button"> Delete </button>
    </div>
  </div>
</form>

<div id = "container_show_quiz">
  <h2> Quiz </h2>
  <div id = "display_quiz">

  </div>
  <div class="buttons">
    <button class = "button" id= "get_all_questions_button" type="get_all_questions_button"> See Questions </button>
</div>

</div>



</body>
<script type="text/javascript" src="/scripts/api_get_request.js"></script>
<script type="text/javascript" src="/scripts/api_update_request.js"></script>
<script type="text/javascript" src="/scripts/api_delete_question_request.js"></script>
<script type="text/javascript" src="/scripts/api_post_request.js"></script>

</html>
