<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>

<ul>
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a href="students.html"> Class Info </a></li>
    <li><a href="create_quiz.html"> Create Quiz </a></li>
</ul>
    

<div class="row">
    <div class="col-12 header">
    Create Quiz
    </div>
</div>

<div id = "display_quiz">
    <h2> Quiz </h2>
    <p id="display_name"></p>
    <p id="display_a"></p>
    <p id="display_b"></p>
    <p id="display_c"></p>
    <p id="display_d"></p>
    <p id="display_d"></p>
</div>

<form id = "quiz">
  <label for="question_name">Question:</label><br>
  <input type="text" id="question_name" name="question_name"><br>
  <label for="ans1">Choice A:</label><br>
  <input type="text" id="ans1" name="ans1"><br>
  <label for="ans2">Choice B:</label><br>
  <input type="text" id="ans2" name="ans2"><br>
  <label for="ans3">Choice C:</label><br>
  <input type="text" id="ans3" name="ans3"><br>
  <label for="ans4">Choice D:</label><br>
  <input type="text" id="ans4" name="ans4"><br>
  <label for="answer">Correct Answer:</label><br>
  <input type="text" id="answer" name="answer"><br>

  <div class="row3">
    <div class="buttons">
        <button class = "button" id = "create_question_button" type="create_question_button"> Submit question </button>
    </div>
</div>

</form>
</body>
</html>