<html>
<link rel="stylesheet" type="text/css" href="../style.css">

<body>
<div id = "container">
    <ul>
        <li><a href="dashboard.html">Dashboard </a></li>
        <li><a href="students.html"> Class Info </a></li>
        <li><a href="create_quiz.html"> Create Quiz </a></li>
    </ul>


    <div class="row">
        <div class="col-12 header">
        Dashboard
        </div>
    </div>

    <div class = "profile_container">
        <h2> Account Info </h2> <br>
        <h4> Professor Yarn  </h4>
        <h4> Intro to Python  </h4>
    </div>

    <div class = "exams_container">
        <h2> Exams Created </h2> <br>
        <button class = "button" type="get_all_questions_button"> <a href="create_quiz.html">Quiz 1</a></button>
    </div>

    <div class = "assignments_container">
        <h2> Assignments </h2> <br>
        <h4> Lesson 2 | Lists </h4>
        <h4> Lesson 3 | Dictionaries </h4>
        <h4> Lesson 4 | Trees </h4>
    </div>
    </body>
</div>
</html>