<html>
<link rel="stylesheet" type="text/css" href="/style.css">

<body>
<ul>
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a href="lesson1.html">Lists </a></li>
    <li><a href="lesson2.html">Dictionaries </a></li>
</ul>


<div class="row">
    <div class="col-12 header">
    Dashboard
    </div>
</div>

<div class = "profile_container">
    <h2> Account Info </h2> <br>
    <h4> Name:  </h4>
    <h4> Course Average:  </h4>
</div>

<div class = "exams_container">
    <h2> Pending Exams</h2> <br>
    <a href="quiz.html"> Quiz 1 </a>
    <h4> Average </h4>
</div>

<div class = "assignments_container">
    <h2> Assignments </h2> <br>
    <h4> Lesson 2 | Lists </h4>
    <h4> Lesson 3 | Dictionaries </h4>
    <h4> Lesson 4 | Trees </h4>
</div>

</body>
</html>