<html>
<link rel="stylesheet" type="text/css" href="/style.css">

<body>

<div class="row">
    <div class="col-12 title">
    Classy
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
    <h4>A platform made for teachers</h4>
    </div>
</div>
<div class="row3">
    <div class="buttons">
        <button class = "button"> <a href="sign_in.html">Login</a> </button>
        <button class = "button"> <a href="sign_up.html">Sign Up </a></button>
    </div>
</div>


</body>
</html>