<html>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>

<div class="row">
    <div class="col-12 header">
    Sign Up
    </div>
</div>

<form id = "form">
    <label  for="first_name">First name</label><br>
    <input  id = "label_form"  type="text" id="first_name" name="first_name"><br>
    
    <label  for="last_name">Last name</label><br>
    <input id = "label_form"  type="text" id="last_name" name="last_name"><br>
    
    <label for="email"> Email </label><br>
    <input id = "label_form"  type="text" id="email" name="email"><br>
    
    <label for="School">School </label><br>
    <input id = "label_form"  type="text" id="school" name="school"><br>
    
    <label for="password">Password </label><br>
    <input id = "label_form"  type="text" id="password" name="password">
    
</form>

<div class="row3">
    <div class="buttons">
        <button class = "button"> <a href="dashboard.html">Submit</a></button>
    </div>
</div>

</body>
</html>