<html>
<link rel="stylesheet" type="text/css" href="/style.css">

<body>

<div class="row">
    <div class="col-12 header">
    Sign In
    </div>
</div>


<form id = "form">
    <label for="email">Email </label><br>
    <input id = "label_form"  type="text" id="email" name="email"><br>
    <label for="password">Password </label><br>
    <input id = "label_form"  type="text" id="password" name="password">
</form>


<div class="row3">
    <div class="buttons">
        <button class = "button"> <a href="dashboard.html">Login</a></button>
    </div>
</div>


</body>
</html>